.cache
compile_commands.json
testing.c
minishell
.vscode
.dist
lexer/tempCodeRunnerFile.clexer/tempCodeRunnerFile.tempCodeRunnerFile.c
lexer/tempCodeRunnerFile.c
test123/*
repl/tempCodeRunnerFile.c
*.o
*/*.o
*/*/*.o
*/*/*/*.o
parser/parser_ast/here_doc_child.c

*.a

failed_tests_details.txt
filtered_failed_tests.txt
la

notes.c
*_Makefile
